h1{
    color: red;
    font-size: 50px;
    text-shadow: 4px 4px 8px gray;
}



button{
    background-color: red;
    color: blue;
    width: 180px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}


button:hover{
    background-color: aqua;
    color: red;
}



img{
    width: 400px;
    height: 300px;
}