form{
    background-color: aqua;
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 12px gray;
    color: blue;

}

legend{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 12 red;
}

input[type=text], input[type=email],input[type=password], input[type=birthday],input[type=date],input[type=datetime-local],input[type=tel],select,textarea{

    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    margin-top: 10px;

}

button{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(red, green, blue);
    color: rgb(216, 15, 15);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
    justify-content: center;
    display: block;
}

body{
    background-image: url("../assets/home.png");
    background-repeat: no-repeat;
    background-size: cover;
}